<ion-content mode="ios">
  <img src="{{ restaurant.bannerImageUrl }}" 
  alt="Restaurant Banner" 
  class="banner-image"
  >

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="goBack()" color="light" size="small">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="ion-padding-horizontal">
    <h1>{{ restaurant.name }}</h1>
    <ion-icon name="star" color="warning" *ngFor="let s of [1,1,1,1,1]"></ion-icon>
    <ion-text color="dark">
      (5.0)
    </ion-text>
    <!-- <ion-card color="light" class="ion-padding-horizontal" style="--border-width: 0; --box-shadow: none;">
    </ion-card> -->
    <p class="tagline">{{ restaurant.tagline }}</p>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img src="{{ item.imageUrl }}" alt="Food Item Image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <ion-text color="primary">{{ item.price | currency:item.currency}}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-text-center" color="light">
  <ion-toolbar>
    Welcome to {{ restaurant.name }}
  </ion-toolbar>
  
</ion-footer>
